<!DOCTYPE html>
<html>
<head>
    <title>Agregar estudiante</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<h1>Agregar estudiante</h1>

<form method="post">

<input name="nombre" placeholder="Nombre" requiered><br><br>

<input name="nota1" placeholder="Nota 1" requierd><br><br>

<input name="nota2" placeholder="Nota 2" requiered><br><br>

<input name="nota3" placeholder="Nota 3" requiered><br><br>

<button type="submit">Guardar</button>

</form>

<br>
<a href="/">Volver</a>

</body>
</html>

