<!DOCTYPE html>
<html>
<head>
    <title>Buscar estudiante</title>
</head>
<body>
<link rel="stylesheet" href="/static/style.css">
<h1>Buscar estudiante</h1>

<form method="POST">
    <input id="input" type="text" name="nombre" placeholder="Escribe el nombre" required>
    <button type="submit">Buscar</button>
</form>

{% if resultado %}
    <h2>Resultado:</h2>
    <p>Nombre: {{ resultado[0] }}</p>
    <p>Nota 1: {{ resultado[1] }}</p>
    <p>Nota 2: {{ resultado[2] }}</p>
    <p>Nota 3: {{ resultado[3] }}</p>
{% elif resultado == None %}
    <p>No se encontró estudiante</p>
{% endif %}

<a href="/" id="volver">Volver</a>
</body>

</html>
