<!DOCTYPE html>
<html>
<head>
    <title>Mejor estudiante</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<h1>Mejor estudiante🏆</h1>

<p id="mejor">
Nombre: {{mejor.nombre}}<br>
Promedio: {{mejor.promedio}}
</p>

<a href="/">Volver</a>

</body>
</html>
