body {
    

    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #000000;
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 0 4px 4px #5a5a5a;
  font-family: "Montserrat", sans-serif;

}

a {
    
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #5a5a5a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    transition: box-shadow 1s ease;
    transition: background-color 1s ease;
    box-shadow: 0 4px 4px #5a5a5abf;
    background-color: white;
    color:black ;
    
    
}

input{
    border-color: black;
    background-color: darkgray;
    font-family: "Montserrat", sans-serif;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

button{
    border-color: black;
    background-color: #5a5a5a;
    font-family: "Monserrat", sans-serif;
}

h2{
  text-shadow: 0 4px 4px #5a5a5a;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#mejor{
    font-size: 40px;
    color: lightgreen;
}

.numbers{
    color: lightgreen;
}

#volver{
    font-family: "Cascadia Mono", sans-serif;
}




