body {
    

    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #e8d5b7;
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
    
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #0e2430;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #e8d5b7;
    color: black;
}

input{
    border-color: black;
    background-color: darkgray;
    font-family: "Montserrat", sans-serif;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

button{
    border-color: black;
    background-color: #0e2430;
    font-family: "Monserrat", sans-serif;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#mejor{
    font-size: 40px;
    color: lightgreen;
}

